<section class="element">
  <div class="title">
    <h2>2. Redirections</h2>
    <p>Create as many redirections as you&apos;d like.</p>
  </div>
  <div class="grid gap-8">
    <div id="list" class="grid gap-8">
      {{> form2-list.hbs}}
    </div>
    <form
      hx-post="/"
      hx-target="#list"
      hx-swap="beforeend"
      hx-include="[name='domain']"
      class="grid gap-2"
    >
      <div class="flex gap-2 items-center">
        From:
        <label class="w-full">
          <span>https://{{ domain }}/</span>
          <input name="pathname" inputmode="url" tabindex="2" class="w-full" />
        </label>
      </div>
      <div class="flex gap-2 items-center">
        To:
        <label class="w-full">
          https://
          <input
            inputmode="url"
            placeholder="calendly.com/awesome/1-hour"
            name="destination"
            tabindex="3"
            class="w-full"
          />
        </label>
      </div>
      <button class="w-full">
        <i class="fa-solid fa-plus"></i>
        Add redirection
      </button>
    </form>
  </div>
</section>
