<section class="element">
  <div class="title">
    <h2>2. Redirections</h2>
    <p>Create as many redirections as you'd like.</p>
  </div>
  <div>
    <div id="list">
      {{> form2-list.hbs}}
    </div>
    <form
      hx-post="/"
      hx-target="#list"
      hx-swap="beforeend"
      hx-include="[name='domain']"
      class="grid gap-4"
    >
      <div class="flex gap-2 items-center">
        From:
        <label class="input">
          <span class="prefix"
            >https://<span data-domain>link.domain.com</span>/</span
          >
          <input name="pathname" inputmode="url" tabindex="2" />
        </label>
      </div>
      <div class="flex gap-2 items-center">
        To:
        <label class="input"
          ><span class="prefix"> https:// </span>
          <input
            inputmode="url"
            placeholder="calendly.com/awesome/1-hour"
            name="destination"
            tabindex="3"
          />
        </label>
      </div>
      <button class="w-full">
        <i class="fa-solid fa-plus"></i>
        Add redirection
      </button>
    </form>
  </div>
</section>
