<div class="element" id="dns">
  <div class="title">
    <h2>3. DNS Check</h2>
    <p>Check if your DNS is properly configured. It can take a few seconds.</p>
  </div>
  <div class="content">
    <div class="instructions">
      <p>Add CNAME record in your DNS<br /></p>
      <p id="instr" style="display: none">
        from
        <span class="link" data-domain>link.domain.com</span>
        to
        <span class="link">redirected.app</span>
      </p>
    </div>
    <button type="button" id="check-dns">
      <i class="fa-regular fa-eye"></i>
      Check DNS
    </button>
  </div>
</div>
