@import url("https://fonts.googleapis.com/css2?family=REM:wght@400;600&family=Raleway:wght@400;700&display=swap");

:root {
  --color-background: hsl(60, 1%, 13%);

  --color-primary: hsl(55, 74%, 49%);
  --color-primary-lite: hsla(55, 74%, 49%, 80%);
  --color-primary-liter: hsla(55, 74%, 49%, 50%);
  --color-primary-litest: hsla(55, 74%, 49%, 25%);

  --color-content: hsl(60, 18%, 90%);
  --color-content-lite: hsla(60, 18%, 90%, 80%);
  --color-content-liter: hsla(60, 18%, 90%, 50%);
  --color-content-litest: hsla(60, 18%, 90%, 25%);

  --color-content-soft: hsla(60, 18%, 90%, 10%);
  --color-content-softer: hsla(60, 18%, 90%, 5%);
  --color-content-softest: hsla(60, 18%, 90%, 2%);

  --length-gap-s: 8px;
  --length-gap-m: 16px;
  --length-gap-l: 24px;
  --length-gap-xl: 32px;
  --length-gap-xxl: 48px;
  --length-gap-xxxl: 64px;

  --length-padding-s: 8px;
  --length-padding-m: 16px;
  --length-padding-l: 32px;
  --length-padding-xl: 48px;

  --lenght-radius-m: 32px;
}

body,
html {
  background: var(--color-background);
  font-family: "Raleway", sans-serif;
  color: var(--color-content);
  margin: 0;
}

h1 {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  max-width: 800px;
  padding: var(--length-padding-m) var(--length-padding-s);
  display: flex;
  flex-direction: column;
  gap: var(--length-gap-xxxl);
}

header {
  display: flex;
  flex-direction: column;
  gap: var(--length-gap-s);

  & p {
    margin: 0;
    font-size: 1.5rem;
  }
}

.github {
  font-size: 5rem;
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  color: var(--color-primary);
  text-decoration: none;
  display: block;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--length-gap-xxl);

  .element {
    display: flex;
    gap: var(--length-gap-m);
    position: relative;
    flex-direction: column;

    &.disabled {
      opacity: 0.5;
      filter: grayscale(1);
    }

    .title {
      & h2 {
        margin: 0;
        color: var(--color-primary);
        font-weight: 700;
        font-size: 1.5rem;
        height: 42px;
        display: flex;
        align-items: center;
      }

      & p {
        margin: 0;
        font-size: 0.9rem;
        color: var(--color-content-litest);
        transition: color 0.2s ease-in-out;
      }
    }

    .content {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      gap: var(--length-gap-s);
      gap: 2rem;
    }
  }

  :is(.element:focus-within, .element:hover) .title p {
    color: var(--color-content-lite);
  }
}

.input {
  border: 2px solid var(--color-content-litest);
  border-radius: var(--lenght-radius-m);
  height: 42px;
  display: flex;
  transition: all 0.2s ease-in-out;
  padding: 0 var(--length-padding-m);
  box-sizing: border-box;
  align-items: center;
  color: var(--color-content-litest);

  &[aria-selected] {
    color: var(--color-primary);
  }

  & input {
    color: var(--color-content-lite);
    margin: 0;
    font-size: 1rem;
    font-family: inherit;
    padding: var(--length-padding-s) 0;
    border: none;
    background: none;
    outline: none;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &:focus-within {
    border-color: var(--color-primary);
    background: var(--color-content-soft);
  }
}

.content[aria-selected] .redirection:not(:last-of-type) .input {
  color: var(--color-primary);
}
.content:not([aria-selected]) button[data-copy] {
  display: none;
}

.redirection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--length-gap-s);
  .line {
    display: flex;
    align-items: center;
    gap: var(--length-gap-s);
    width: 100%;
  }

  .options {
    display: flex;
    gap: var(--length-gap-s);
  }

  .input {
    flex: 1 1 0;
  }
}

.content .redirection:last-of-type:not(:first-of-type):before {
  border-top: 1px var(--color-primary-liter) solid;
  width: 80%;
  height: 3px;
  content: "";
  display: block;
  margin-bottom: 1rem;
}
.content .redirection:last-of-type .options {
  display: none;
}

button {
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  border: 0;
  color: inherit;
  align-items: center;
  background: var(--color-content-soft);
  border-radius: var(--lenght-radius-m);
  display: flex;
  gap: var(--length-gap-s);
  height: 42px;
  justify-content: center;
  transition: all 0.1s ease-in-out;

  &.square {
    width: 42px;
  }
  &[aria-selected] {
    cursor: default;
  }
  &:hover,
  &:focus-visible,
  &[aria-selected] {
    background: var(--color-primary);
    color: var(--color-background);
  }
  &:active {
    background: var(--color-primary-lite);
    color: var(--color-background);
  }
}

.instructions {
  display: flex;
  flex-direction: column;

  & p {
    margin: 0;
    line-height: 1.6rem;

    .link {
      font-weight: 700;
    }

    & a {
      color: var(--color-primary);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

footer {
  text-align: center;
  color: var(--color-content-litest);

  & p {
    text-align: center;
  }

  & a {
    color: var(--color-primary-liter);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
.redirection:not(:last-of-type) .line:first-child .prefix {
  display: none;
}

@media (min-width: 640px) {
  .github {
    left: auto;
    top: -16px;
    right: -16px;
    transform: rotate(-20deg);
    position: absolute;
    &:hover {
      transform: rotate(-20deg) scale(1.2);
    }
  }
  h1 {
    font-size: 3.5rem;
  }
  .wrapper {
    padding: var(--length-padding-xl);
  }
  form .element {
    flex-direction: row;
  }
  form .element .title {
    flex: 0 0 196px;
  }
  form .element .title h2 {
    justify-content: flex-end;
  }
  form .element .title p {
    text-align: right;
  }
}

@media (max-width: 640px) {
  .hidden-sm {
    visibility: hidden;
  }
}
